
<app-navbar></app-navbar>
<div class="container-fluid">
  <h3>Businesses In your Hood</h3>
  <div class="row" *ngFor="let business of businesses">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://res.cloudinary.com/dzvafknwk/{{business.photo}}" alt="Card image cap">

        <div class="card-body">
          <h4><a>{{business.name}}</a></h4>
          <p class="card-text">{{business.businessEmail}}</p>
        </div>

      </div>
    </div>
  </div>
</div>