.business{
    background-image: url('https://cdn.pixabay.com/photo/2013/10/10/18/18/landscape-193720_960_720.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}