<div class="container-fluid">
  <h3>BUSINESSES IN YOUR HOOD</h3>
  <div class="row">
    <div class="col-md-4 pt-3" *ngFor="let business of businesses">
      <!-- Card -->
      <div class="card">
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="">{{business.name}}</h4>
          <!-- Text -->
          <div class="col-sm img-fluid" >
            <img src="https://res.cloudinary.com/dzvafknwk/{{business.photo}}">
          </div>
          <div class="col-sm">
            <p>By: {{business.user}}</p>
          </div>
          <div class="col-sm">
            <p>{{business.businessEmail}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card -->
</div>

